<div class="main" >
    <div class="mainContent">
        <div class="punkHighlight" >
            <div class="punkContainer">
                <img class="selectedPunk" [src]="nftId?.image_url" alt="selectedPunk img">
            </div>
        </div>
        <div class="punkDetails">
            <div class="lol">
                <div class="title">{{nftId?.name}}</div>
                <span class="itemNumber">.# {{nftId?.token_id}}</span>
            </div>
            <div class="owner">
                <div class="ownerImageContainer">
                    <img [src]="nftId?.owner.profile_img_url" alt="">
                </div>
    
                <div class="ownerDetails">
                    <div class="ownerNameAndHandel">
                        <div>{{nftId?.owner.address}}</div>
                        <div class="ownerHandle">@Hemanth G G</div>
                    </div>
                    <div class="ownerLink">
                        <img src="assets/assets/owner/instagram.png" alt="insta logo">
                    </div>
                    <div class="ownerLink">
                        <img src="assets/assets/owner/twitter.png" alt="twitter logo">
                    </div>
                    <div class="ownerLink">
                        <img src="assets/assets/owner/more.png" alt="owner Link">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>